<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }} | {{ site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.Params.description }}">

  {{ $css := resources.Get "css/custom-konrad.css" | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>

<body>

  <header class="site-header">
    <a href="{{ "/" | relURL }}">
    <img
     src="{{ "/img/logo/custom_konrad_v2.png" | relURL }}"
     alt="Custom Konrad"
     class="site-logo"
    >
    </a>
   
   <!-- Let's keep the site minimalistic and clean -->
   <!-- <div class="site-tagline">Adventure · Integrity · Engineering</div> -->

    <nav class="site-nav">
      <a href="{{ "/papers/"   | relURL }}">Papers</a>
      <a href="{{ "/projects/" | relURL }}">Projects</a>
      <a href="{{ "/notes/"    | relURL }}">Notes</a>
      <a href="{{ "/about/"    | relURL }}">About</a>
      <a href="{{ "/contact/"  | relURL }}">Contact</a>
    </nav>


  </header>

  <main class="wrap">
    {{ block "main" . }}{{ end }}
  </main>

  <footer class="ck-footer">
    <div class="ck-footer__inner">
      <p>© {{ now.Format "2006" }} Custom Konrad. Original content unless noted. Provided for informational purposes only.</p>
    </div>
  </footer>

</body>
</html>

